<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545676047391-kgl2o7n3d419h1anpp8ao4a99005fqgp</string>
	<key>CLIENT_ID</key>
	<string>545676047391-kgl2o7n3d419h1anpp8ao4a99005fqgp.apps.googleusercontent.com</string>
</dict>
</plist>
